/* Modal oculto por defecto */
#modalOverlay {
  display: none; /* 🔥 IMPORTANTE */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);

  align-items: center;
  justify-content: center;
}

/* Cuando NO está hidden → se muestra */
#modalOverlay:not(.hidden) {
  display: flex;
}

#modalContent {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 90%;
  max-width: 500px;
}

/* Clase para ocultar */
.hidden {
  display: none !important;
}